### Inporting necessary Libraries

In [1]:
import pandas as pd

### Exploring the dataset

In [2]:
df = pd.read_csv('./data.csv')
df

     sky air temp humidity    wind water forecast enjoy sport
0  sunny     warm   normal  strong  warm     same         yes
1  sunny     warm     high  strong  warm     same         yes
2  rainy     cold     high  strong  warm   change          no
3  sunny     warm     high  strong  cool   change         yes

In [3]:
df.shape

(4, 7)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sky          4 non-null      object
 1   air temp     4 non-null      object
 2   humidity     4 non-null      object
 3   wind         4 non-null      object
 4   water        4 non-null      object
 5   forecast     4 non-null      object
 6   enjoy sport  4 non-null      object
dtypes: object(7)
memory usage: 352.0+ bytes

In [5]:
for i in df.columns:
    print(i, ':', df[i].unique())

sky : ['sunny' 'rainy']
air temp : ['warm' 'cold']
humidity : ['normal' 'high']
wind : ['strong']
water : ['warm' 'cool']
forecast : ['same' 'change']
enjoy sport : ['yes' 'no']

### Creating concepts and target variables

In [6]:
target = df['enjoy sport'].values
target

array(['yes', 'yes', 'no', 'yes'], dtype=object)

In [7]:
concepts = df[df.columns[df.columns != 'enjoy sport']].values
concepts

array([['sunny', 'warm', 'normal', 'strong', 'warm', 'same'],
       ['sunny', 'warm', 'high', 'strong', 'warm', 'same'],
       ['rainy', 'cold', 'high', 'strong', 'warm', 'change'],
       ['sunny', 'warm', 'high', 'strong', 'cool', 'change']],
      dtype=object)

### Setting initial hypothesis to most specific hypothesis

In [8]:
initial_hypothesis = ['0']*concepts.shape[1]
initial_hypothesis

['0', '0', '0', '0', '0', '0']

### Implementing Find-S algorithm

In [9]:
rows, columns = concepts.shape
# rows, columns
def Find_S(initial_hypothesis):
    for i in range(rows):    
        if target[i] == 'yes':
            for j in range(columns):
                if initial_hypothesis[j] == '0':
                    initial_hypothesis[j] = concepts[i][j]
                elif initial_hypothesis[j] != concepts[i][j]:
                    initial_hypothesis[j] = '?'
        print('Step ', i+1, ': Hypothesis', initial_hypothesis)
        
    return initial_hypothesis

### Getting the final hypothesis

In [10]:
final_hypothesis = Find_S(initial_hypothesis)
print('Final Hypothesis is : ', final_hypothesis)

Step  1 : Hypothesis ['sunny', 'warm', 'normal', 'strong', 'warm', 'same']
Step  2 : Hypothesis ['sunny', 'warm', '?', 'strong', 'warm', 'same']
Step  3 : Hypothesis ['sunny', 'warm', '?', 'strong', 'warm', 'same']
Step  4 : Hypothesis ['sunny', 'warm', '?', 'strong', '?', '?']
Final Hypothesis is :  ['sunny', 'warm', '?', 'strong', '?', '?']

In [11]:
print('Final Hypothesis is : ', final_hypothesis)

Final Hypothesis is :  ['sunny', 'warm', '?', 'strong', '?', '?']